Makefile
build/Makefile*
.make.cache
bld.inf
symbols.bin
symbols.*.Debug
symbols.*.Release
*.loc
*.mmp
*.pkg
*.rss
*.sis
*.user
ui/*.h
moc/*.cpp
moc/*.h
moc/*.o
rcc/*.cpp
build/object_script*
build/*.cpp
build/*.h
build/*.o
build/*/*.cpp
build/*/*.exe
build/*/*.h
build/*/*.map
build/*/*.o
build/*/*.qml
qml/Core
